DATABASE_URL=postgresql+psycopg://ahmedihsan@localhost:5432/doctorphysio_db
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=development
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000